<ul class="form-rules">
    <li>বাংলায় সার্টিফিকেট পেতে শুধুমাত্র বাংলায় ঘর গুলো পূরণ করুন।</li>
    <li>ইংরেজি সার্টিফিকেট পেতে বাংলা এবং ইংরেজি উভয় ঘর পূরণ করুন।</li>
    <li>তথ্য সঠিকভাবে পূরণ করুন, ভুল তথ্যের জন্য কর্তৃপক্ষ দায়ী থাকবে না।</li>
    <li>যে সকল ঘর (<span class="text-danger">*</span>) চিহ্নিত, তা অবশ্যই পূরণ করতে হবে।</li>
</ul>
