<html>
	<head>
		<meta charset="utf-8">
		<base href='http://rowailup.com/'/>
        <title>Death certificate </title>
		<link rel="stylesheet" type="text/css" href="certificate_css/nagorik.css">
		<style>
		
		@media print {
    * {
        -webkit-print-color-adjust: exact;
    }
}
		.jolchap {
			  
			  background: url(logo_images/jolchap_web.png)no-repeat center;
			  padding-bottom: 15px;
			  background-size:60%;
			  
	  
			  }
			  
			 .wrapper{
					border: 13px solid transparent;
				    margin:0 auto;
				    border-image: url(assets/admin/img/border.png) 20% round;
					
					height:1028px;
					position: relative;
					background-size:70%;
					width:785px;
					
					
			}
			@media print
			{    
				.no-print, .no-print *
				{
					visibility:hidden;
					
				}
				table{
					background:none;
				}
				
			}
			 

		</style>
			</head>
	
	<body>
		<div id="main" style="font-family:arial;">
			<div id="main_second">
					<!----muri div start here --->
		 
				<div id="muri"> 
					
				</div>
		 
					<!---muri div close here-->

				<div class="wrapper jolchap">
				<div id="cert">
		 
					<table border="0px" width="98%" height="125px;" align="center"   style="border-collapse:collapse; margin:2px auto;"  >
						<tr>
							<td  style="width:1.5in; text-align:center;"><img src="logo_images/logo.png" height="100px" width="100px"/></td>
							<td  style="text-align:center;"><font style="font-size:18px; font-weight:bold; color:blue;">Rowail Union Parishad</font>  <br />
									<font style="font-size:14px; font-weight:bold;">
																	Dhamrai,Dhaka-1212<br />
									Website Link : www.rowailup.com</font>
									
							</td>
							<td style="width:1.5in; text-align:center;"><img src="" height="100px" width="100px" style="position:relative;right:15px;top:2px" />
							<p style="font-size: 15px;">Date: 26-02-2024</p>
							</td>
						</tr>
					</table>

						<!----header div close here---->
		 
					 <table border="0px" width="98%" height="38px" style="border-collapse:collapse;margin:2px auto;" cellspacing="0" cellpadding="0" >
						<tr>
							<td style="width:190px; text-align:center;font-weight:700;font-size:17px; ">Death certificate </td>
						</tr>
					 </table>
		 
					 <div id="sonod_number">
					 
						<table border='1' align="center" height="25px" style="width:96%; border-color:lightgray;border-collapse:collapse;margin-top:10px;" cellpadding="0" cellspacing="0">
							<tr>
								<td style="width:180px; text-align:center;font-weight:700;font-size:17px; ">Certificate No :</td>
																<td style="width:30px;text-align:center;  font-size:17px;">2</td>
																<td style="width:30px;text-align:center;  font-size:17px;">0</td>
																<td style="width:30px;text-align:center;  font-size:17px;">2</td>
																<td style="width:30px;text-align:center;  font-size:17px;">4</td>
																<td style="width:30px;text-align:center;  font-size:17px;">2</td>
																<td style="width:30px;text-align:center;  font-size:17px;">6</td>
																<td style="width:30px;text-align:center;  font-size:17px;">1</td>
																<td style="width:30px;text-align:center;  font-size:17px;">1</td>
																<td style="width:30px;text-align:center;  font-size:17px;">4</td>
																<td style="width:30px;text-align:center;  font-size:17px;">7</td>
																<td style="width:30px;text-align:center;  font-size:17px;">1</td>
																<td style="width:30px;text-align:center;  font-size:17px;">0</td>
																<td style="width:30px;text-align:center;  font-size:17px;">0</td>
																<td style="width:30px;text-align:center;  font-size:17px;">5</td>
																<td style="width:30px;text-align:center;  font-size:17px;">7</td>
																<td style="width:30px;text-align:center;  font-size:17px;">4</td>
																<td style="width:30px;text-align:center;  font-size:17px;">6</td>
															</tr>
						</table>
						
					</div>
		
					<table border="0" height="400px" width='99%' cellspacing="0" cellspacing='0' style="border-collapse:collapse;margin:0px auto;">
						<tr height="55px" style="">
							<td  colspan="2" align="left" style="font-size:17px; text-indent:50px;">This is to certify that effect,</td>
							
						</tr>
						<tr height="18px">
							<td width='30%'  style="font-size:17px;text-indent:55px; font-color:black;">Name  </font>  </td>
							<td width='70%'><font style="font-size:17px;">:  </font></td>
						</tr>
												<tr height="18px">
							<td  style="font-size:17px;text-indent:55px; ">Father Name</td>
							<td><font style="font-size:17px; ">:  </font></td>
						</tr>
						
						
						<tr height="18px">
							<td  style="font-size:17px;text-indent:55px; ">Mother Name</td>
							<td><font style="font-size:17px;  ">:  </font></td>
						</tr>
						
						
						<tr height="60px">
							<td nowrap align="left" style="font-size:17px; text-indent:55px; vertical-align:top; ">Present address </td>
							<td style=" vertical-align:top;"><p style="line-height:25px;font-size:17px; ">
							:  Village: <br>
											  &nbsp; Post Office:<br>
											&nbsp;  Police Station: <br>
											&nbsp;   District:  </p></td> 
						</tr>
						
						
						<tr height="60px">
							<td nowrap align="left" style="font-size:17px;text-indent:55px; vertical-align:top; ">Permanent address </td>
							<td style=" vertical-align:top;"><p style="line-height:25px;font-size:17px;  ">
							:  Village: <br>
										 &nbsp;   Post Office:<br>
											 &nbsp;  Police Station: <br>
											 &nbsp; District:</p></td> 
						</tr>
						<tr height="18px">
							<td  nowrap style="font-size:17px; text-indent:55px;">Ward No </td>
							<td><font style="font-size:17px;  ">:  </font></td>
						</tr>
						
												<tr height="18px">
							<td  nowrap style="font-size:17px; text-indent:55px; ">National Id No </td>
							<td><font nowrap style="font-size:17px;">:  </font></td>
						</tr>
												
					</table>

					<table  width='98%'  height="90px" cellpadding='0' cellspacing='0' style="border-collapse:collapse;margin:0px auto;padding-top:10px;">
						  <tr height="60px">
						  							<td style="font-size:17px;  padding-left:30px;">
							He died on 10/08/1975. He was a permanent resident of the  No Ward of the Union.</td>
														
						  </tr>
						  
						   
						  <tr height="30px">
							
							<td colspan="2" align="left" style="padding-left:68px; font-size:17px;"> I wish for the death of the departed soul.</td>
						  </tr>
					</table>
		
					<table border="0px" height="60px" width='99%' style="border-collapse:collapse; border-color:lightgray; margin:5px auto;" cellspacing="0" cellpadding="0" >
												<tr height="35px">
							
							<td></td>
							
						</tr>
					</table>
		
					<table border='0' height="235px" width="99%" cellspacing="0" cellpadding="0" style="border-collapse:collapse;table-layout:fixed;margin:0px auto;">
						<tr>
							<td style="padding-left:20px;font-size:16px;">
								<div style="float:left;">
									
								</div>
								<div style="display:inline;float:right">
									<font style='float:right;position:relative;right:40px;border-top: 1px solid black;'>Chairman Signature</font>
								</div>
							</td>
							<td  style="width: 22%"></td>
						</tr>
						
												
						<tr>
							<td  style="padding-left:20px;font-size: 16px !important;box-sizing: border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;border-bottom: 1px solid black;"><b>Instructions:</b><br /><br />1)To verify the certificate, go to the link - <font style="color:blue;">www.rowailup.com/nctrack</font> and enter the 17 digit certificate number or Scan the QR code from your android mobile. <br />2) For any information please call or email to.
							</td>
					<td rowspan="1"  style="border-left:1px solid black; border-top:1px solid black;"><img src="https://api.qrserver.com/v1/create-qr-code/?size=160x175&data=http%3A%2F%2Fwww.rowailup.com/index.php/onlinetrack/nagoriksonod_jachai_en?id=22a103e061d5b7b79f73dbf87faf34caf898904c%2F&choe=UTF-8" height="150px" width="170px" style="padding:10px;box-sizing: border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;"></td>
					
									
						</tr>
					</table>
					
					<table border='0' width="98%" height="34px" cellpadding='0' cellspacing='0' style="border-collapse: collapse;margin: 0px auto;table-layout:fixed;"> 
						<tr>
							<td style="width: 75%;text-align:center;font-family: Arial;"> <font style="font-size:11px !important;">www.rowailup.com</font><br>  <font style="font-size:11px !important;"> Email:rowailup@gmail.com</font></td>
							<td style="width: 25%;text-align:center;"><font style="font-size:10px !important;opacity:0.7;">   Developed by Innovation IT. </font> <br><font style="font-size:12px !important;opacity:0.7;">www.innovationit.com.bd   </font></td>
			 
						</tr>
					</table>
					
				</div>
				</div>
			</div>
		</div>
		
		<!--- for print----->
		<div id="print-full-page" class="no-print">
			<div class="print-certificate">
				<a target="" href="javaScript:window.print();" title="প্রিন্ট করুন">
					<img src="http://rowailup.com/library/print_big.png" alt="প্রিন্ট করুন" />
				</a>
			</div>
		</div>
		<!--- end for print------>
		
	</body>
</html>