{# common/rules.twig #}
<div class="rules bg-light p-3 rounded mt-3">
    <h5 class="text-center"><strong>নিয়মাবলি</strong></h5>
    <ul>
        <li><strong>বাংলায় সার্টিফিকেট পেতে শুধুমাত্র বাংলায় ঘর গুলো পূরণ করুন।</strong></li>
        <li><strong>ইংরেজি সার্টিফিকেট পেতে বাংলা এবং ইংরেজি উভয় ঘর পূরণ করুন।</strong></li>
        <li><strong>তথ্য সঠিকভাবে পূরণ করুন, ভুল তথ্যের জন্য কর্তৃপক্ষ দায়ী থাকবে না।</strong></li>
        <li><strong>যে সকল ঘর (*) চিহ্নিত, তা অবশ্যই পূরণ করতে হবে।</strong></li>
    </ul>
</div>
